

 body{
    font-family: arial black,helvetica;
    background:(10, 25, 85, 0);
 }

 .menú{ 
    list-style: none;
    padding: 0;
    background: #a85b03ce;
    width: 90%;
    max-width: 1000px;
    margin: auto;}
    

.menú li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
 }
 .menú li{
    display: inline-block;
    text-align: center;
 }
 .menú li a:hover{
    background: #e7d3cb;
 }
 section{
   list-style: none;
   padding: 0;
   background: rgba(146, 144, 18, 0.925);
   width: 90%;
   max-width: 1000px;
   margin: auto;
}

@media screen and (max-width:640px){  
   @media only screen and (min-width:640px) and (max-width:1024px)
   @media only screen and (min-width:1024px) and (max-width:1280px
   @media only screen and (min-width:1280px) and (max-width:1920px)
   @media only screen and (min-width:1920px)
   smartphone vertical, tablet vertical,  laptop (touch) vertical, monitores y televisores
   }



@media (max-width:640px)
@media only screen and (min-width:640px) and (max-width:1024px)
@media only screen and (min-width:1024px) and (max-width:1280px
@media only screen and (min-width:1280px) and (max-width:1920px)
@media only screen and (min-width:1920px)
       







 }